.button-container button {
  background-color: rgba(255, 196, 0, 0.699);
}

.button-container button:hover {
  background-color: rgba(214, 164, 0, 0.719);
  transition: 0.2s;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.button-box {
  margin: 10px;
}
