* {
  padding: 0;
  margin: 0;
  background-color: #343434;
  color: #fcfaf1;
}

.App {
  text-align: center;
}

.section-header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgb(0, 0, 0, 0.13)),
    url(./data/images/natalie-perea-460452-unsplash.jpg);
  background-position: bottom;
  background-size: cover;
}
